<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/template/style.css">
</head>
<body>
    <div class="container">
        <img src="/template/images/close.svg" class="close-menu">
        <img src="/template/images/hamburger-menu.svg" class="hamburger-menu">
        <div class="people-list">
            <form class="people-search" action="" method="POST">
                <div class="search-container">
                    <button class="search-img" type="submit">
                        <img src="/template/images/search.svg" class="search-icon">
                    </button>
                    <input type="search" name="people-search" placeholder="Search..." id="search-input">
                </div>
            </form>
            <div class="people">
                <ul>
                    <li>
                        <a href="#">
                            <div class="person-box">
                                <img src="/upload/profile_image/no-image.png" alt="">
                                <div class="per-info">
                                    <div class="name">Saidahmad</div>
                                    <div class="status"> <div class="online-class"></div> online</div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="person-box">
                                <img src="/upload/profile_image/no-image.png" alt="">
                                <div class="per-info">
                                    <div class="name">Kamoliddin</div>
                                    <div class="status"> <div class="online-class"></div> online</div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="person-box">
                                <img src="/upload/profile_image/no-image.png" alt="">
                                <div class="per-info">
                                    <div class="name">To'lqin</div>
                                    <div class="status"> <div class="offline-class"></div> left 10 hours ago</div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="person-box">
                                <img src="/upload/profile_image/no-image.png" alt="">
                                <div class="per-info">
                                    <div class="name">Otabek</div>
                                    <div class="status"> <div class="online-class"></div> online</div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="person-box">
                                <img src="/upload/profile_image/no-image.png" alt="">
                                <div class="per-info">
                                    <div class="name">Kamoliddin</div>
                                    <div class="status"> <div class="online-class"></div> online</div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="person-box">
                                <img src="/upload/profile_image/no-image.png" alt="">
                                <div class="per-info">
                                    <div class="name">To'lqin</div>
                                    <div class="status"> <div class="offline-class"></div> left 10 hours ago</div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="person-box">
                                <img src="/upload/profile_image/no-image.png" alt="">
                                <div class="per-info">
                                    <div class="name">Otabek</div>
                                    <div class="status"> <div class="online-class"></div> online</div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="person-box">
                                <img src="/upload/profile_image/no-image.png" alt="">
                                <div class="per-info">
                                    <div class="name">Kamoliddin</div>
                                    <div class="status"> <div class="online-class"></div> online</div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="person-box">
                                <img src="/upload/profile_image/no-image.png" alt="">
                                <div class="per-info">
                                    <div class="name">To'lqin</div>
                                    <div class="status"> <div class="offline-class"></div> left 10 hours ago</div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="person-box">
                                <img src="/upload/profile_image/no-image.png" alt="">
                                <div class="per-info">
                                    <div class="name">Otabek</div>
                                    <div class="status"> <div class="online-class"></div> online</div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="person-box">
                                <img src="/upload/profile_image/no-image.png" alt="">
                                <div class="per-info">
                                    <div class="name">Kamoliddin</div>
                                    <div class="status"> <div class="online-class"></div> online</div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="person-box">
                                <img src="/upload/profile_image/no-image.png" alt="">
                                <div class="per-info">
                                    <div class="name">To'lqin</div>
                                    <div class="status"> <div class="offline-class"></div> left 10 hours ago</div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="person-box">
                                <img src="/upload/profile_image/no-image.png" alt="">
                                <div class="per-info">
                                    <div class="name">Otabek</div>
                                    <div class="status"> <div class="online-class"></div> online</div>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="chat">
            <div class="header-chat">
                <img src="/upload/profile_image/no-image.png">
                <div class="per-info">
                    <div class="name">Otabek</div>
                    <div class="status">Last seen recently</div>
                </div>
            </div>
            <div class="chat-content">
                <div class="chat-me">
                    <div class="chat-cart">
                        <div class="chat-text">
                            <p>Hi Aiden, how are you? How is the project coming along?</p>
                            <div class="chat-time">
                                <span>10:10 AM, Today</span>
                            </div>
                            <div class="chat-arr"></div>
                        </div>
                        <img src="/upload/profile_image/no-image.png" alt="">
                    </div>
                </div>
                <div class="chat-to">
                    <div class="chat-cart">
                        <div class="chat-text">
                            <p>Hi Aiden, how are you? How is the project coming along?</p>
                            <div class="chat-time">
                                <span>10:10 AM, Today</span>
                            </div>
                            <div class="chat-arr"></div>
                        </div>
                        <img src="/upload/profile_image/no-image.png" alt="">
                    </div>
                </div>
                <div class="chat-to">
                    <div class="chat-cart">
                        <div class="chat-text">
                            <p>Hi Aiden, how are you? How is the project coming along?</p>
                            <div class="chat-time">
                                <span>10:10 AM, Today</span>
                            </div>
                            <div class="chat-arr"></div>
                        </div>
                        <img src="/upload/profile_image/no-image.png" alt="">
                    </div>
                </div>
                <div class="chat-to">
                    <div class="chat-cart">
                        <div class="chat-text">
                            <p>Hi Aiden, how are you? How is the project coming along?</p>
                            <div class="chat-time">
                                <span>10:10 AM, Today</span>
                            </div>
                            <div class="chat-arr"></div>
                        </div>
                        <img src="/upload/profile_image/no-image.png" alt="">
                    </div>
                </div>
                <div class="chat-me">
                    <div class="chat-cart">
                        <div class="chat-text">
                            <p>Hi Aiden, how are you? How is the project coming along?</p>
                            <div class="chat-time">
                                <span>10:10 AM, Today</span>
                            </div>
                            <div class="chat-arr"></div>
                        </div>
                        <img src="/upload/profile_image/no-image.png" alt="">
                    </div>
                </div>
                <div class="chat-me">
                    <div class="chat-cart">
                        <div class="chat-text">
                            <p>Hi Aiden, how are you? How is the project coming along?</p>
                            <div class="chat-time">
                                <span>10:10 AM, Today</span>
                            </div>
                            <div class="chat-arr"></div>
                        </div>
                        <img src="/upload/profile_image/no-image.png" alt="">
                    </div>
                </div>
                <div class="chat-me">
                    <div class="chat-cart">
                        <div class="chat-text">
                            <p>Hi Aiden, how are you? How is the project coming along?</p>
                            <div class="chat-time">
                                <span>10:10 AM, Today</span>
                            </div>
                            <div class="chat-arr"></div>
                        </div>
                        <img src="/upload/profile_image/no-image.png" alt="">
                    </div>
                </div>
                <div class="chat-me">
                    <div class="chat-cart">
                        <div class="chat-text">
                            <p>Hi Aiden, how are you? How is the project coming along?</p>
                            <div class="chat-time">
                                <span>10:10 AM, Today</span>
                            </div>
                            <div class="chat-arr"></div>
                        </div>
                        <img src="/upload/profile_image/no-image.png" alt="">
                    </div>
                </div>
            </div>
            
            <form class="send-message" action="" method="POST">
                <div class="send-container">
                    <button type="submit" class="send-img">
                        <img src="/template/images/sent.svg" class="send-icon">
                    </button>
                    <input type="text" name="send-text" placeholder="Enter text here..." id="send-input">
                </div>
            </form>
        </div>
    </div>
    <script src="/template/app.js"></script>
</body>
</html>

