<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/template/style.css">
</head>
<body>
    
    <div class="container-form">
        <form method="POST" action="" id="signup">
            <div class="header">
                <h3>Sign Up</h3>
                <!-- <p>You want to fill out this form</p> -->
            </div>
            <div class="sep"></div>
            <div class="inputs">
                <input type="text" name="name" placeholder="Name..." autofocus />
                <input type="tel" placeholder="Phone number..." name="phone-number" autofocus />
                <input type="password" placeholder="Password..." name="password" />
                <!-- <div class="checkboxy">
                    <input name="cecky" id="checky" value="1" type="checkbox" /><label class="terms">I accept the terms of use</label>
                </div> -->
                <a href="#">Avval ro'yxatdan o'tgan bo'lsangiz bu yerni bosing</a>
                <button id="submit" href="#">SIGN UP</button>
            </div>
        </form>
    </div>
</body>
</html>

