*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #eee;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}

.container{
    width: 80%;
    margin: auto;
    background-color: #fff;
    position: relative;
    border: 1px solid rgb(221, 218, 218);
    /* min-height: 600px; */
    /* max-height: 100%; */
    height: 100%;
    overflow-x: hidden;
}

.people-list{
    position: absolute;
    top: 0;
    left: 0;
    width: 280px;
    background-color: #fff;
    bottom: 0;
    overflow-y: scroll;
    /* height: 500px; */
    padding: 5px;
    border-right: 1px solid rgb(184, 178, 178);
    transition: 0.3s all ease-in-out;
}

.people-search{
    width: 100%;
    padding: 20px;
}

.people-search .search-container{
    width: 100%;
    position: relative;
    display: flex;
}

.search-container .search-img{
    cursor: pointer;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    position: absolute;
    background-color: #eee;
    display: flex;
    justify-content: center;
    border: 1px solid rgb(184, 178, 178);
    align-items: center;
    padding: 0 10px;
}

.search-img img{
    width: 15px;
    height: 15px;
}

.search-container #search-input{
    width: 100%;
    padding: 10px 15px 10px 40px;
    border-radius: 3px;
    border: 1px solid rgb(184, 178, 178);
    outline: none;
}

.online-class{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(0, 255, 0);
}

.offline-class{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(221, 0, 0);
}
.people{
    padding: 0px 20px;
}

.people ul{
    list-style: none;
}


.people ul li a{
    text-decoration: none;
    color: #000;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 7px ;
    transition: .2s ease-in-out;
}

.people ul li a:hover{
    background-color: #eee;
}

.person-box{
    display: flex;
}

.person-box img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 15px;
    object-fit: cover;
}

.per-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.per-info .name{
    font-weight: 700;
}

.per-info .status{
    display: flex;
    align-items: center;
    color: rgb(168, 165, 165);
    font-size: 12px;
} 

.per-info .status > div {
    margin: 0 5px 0 0;
}

.chat{
    margin-left: 280px;
    transition: 0.3s all ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    /* min-height: 400px; */
    /* max-height: 600px; */
}

.header-chat-top{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(228, 225, 225);
}

.control-panel{
    display: flex;
    align-items: center;
    padding-right: 10px;
    justify-content: center;
}

.control-panel img{
    margin: 0 5px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.header-chat{
    display: flex;
    padding: 20px 20px 10px 40px;
}

.header-chat img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 15px;
    object-fit: cover;
}

.chat-content{
    width: 100%;
    overflow-y: scroll;
    height: 100%;
    /* display: flex; */
    /* flex-direction: column-reverse; */
}

/* chat me design */

.chat-me{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.chat-me .chat-cart {
    max-width: 500px;
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
}

.chat-me .chat-cart .chat-text {
    background-color: rgb(233, 239, 251);
    padding: 20px 20px 10px 20px;
    border-radius: 5px;
    position: relative;
    word-wrap: break-word;
}

.chat-me .chat-cart .chat-text .chat-arr{
    position: absolute;
    bottom: 20px;
    right: 0px;
    width: 15px;
    height: 15px;
    background-color: rgb(233, 239, 251);
    transform: rotate(45deg) translateX(50%);
}

.chat-me .chat-cart .chat-time {
    display: flex;
    justify-content: end;
    margin: 10px 0 0px 0;
}

.chat-me .chat-cart .chat-time span{
    font-size: 12px;
    color: rgb(103, 104, 103);
}

.chat-me .chat-cart img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin: 0 5px 0 15px;
    object-fit: cover;
}

/* chat me design */

/* chat to design */

.chat-to{
    width: 100%;
    display: flex;
    justify-content: start;
}

.chat-to .chat-cart {
    max-width: 500px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
}

.chat-to .chat-cart .chat-text {
    background-color: #eee;
    padding: 20px 20px 10px 20px;
    border-radius: 5px;
    position: relative;
}

.chat-to .chat-cart .chat-text .chat-arr{
    position: absolute;
    bottom: 10px;
    left: 0px;
    width: 15px;
    height: 15px;
    background-color: #eee;
    transform: rotate(45deg) translateX(-50%);
}

.chat-to .chat-cart .chat-time {
    display: flex;
    justify-content: start;
    margin: 10px 0 0px 0;
}

.chat-to .chat-cart .chat-time span{
    font-size: 12px;
    color: rgb(103, 104, 103);
}

.chat-to .chat-cart img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin: 0 15px 0 5px;
    object-fit: cover;
}

/* chat to design */

/* Design Scrollbar */

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

/* Design scollbar */

.send-message{
    width: 100%;
    padding: 20px;
}

.send-message .send-container{
    width: 100%;
    position: relative;
    display: flex;
}

.send-message .send-img{
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    position: absolute;
    background-color: #eee;
    display: flex;
    justify-content: center;
    border: 1px solid rgb(184, 178, 178);
    align-items: center;
    padding: 0 10px;
    cursor: pointer;
}

.send-message img{
    width: 15px;
    height: 15px;
}

.send-message #send-input{
    width: 100%;
    padding: 10px 15px 10px 40px;
    border-radius: 3px;
    border: 1px solid rgb(184, 178, 178);
    outline: none;
}

.people-list.close-list{
    transition: 0.3s all ease-in-out;
    transform: translateX(-100%);
}
.chat.active-chat{
    transition: 0.3s all ease-in-out;
    margin-left: 0;
}

.hamburger-menu, .close-menu{
    cursor: pointer;
    left: 255px;
    top: 10px;
    position: absolute;
    z-index: 55;
    width: 20px;
    height: 20px;
}
.close-menu{
    width: 15px;
    height: 15px;
}

.hamburger-menu{
    z-index: -99;
    left: 10px;
    top: 30px;
}

@media screen and (max-width: 800px){
    .container{
        width: 95%;
    }
}

@media screen and (max-width: 600px){
    body{
        padding: 0;
    }
    .container{
        width: 100%;
    }
}

@media screen and (max-width: 320px){
    .header-chat{
        flex-direction: column;
        align-items: center;
    }
    .per-info{
        text-align: center;
    }
    .header-chat img{
        margin-right: 0;
        margin-bottom: 5px;
    }
}


/* register */

.container-form {
    max-width: 406px;
    max-width: 406px;
    margin: 0 auto;
}

#signup {
    padding: 0px 25px 25px;
    background: #fff;
    box-shadow: 
        0px 0px 0px 5px rgba( 255,255,255,0.4 ), 
        0px 4px 20px rgba( 0,0,0,0.33 );
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: table;
    position: static;
}

#signup .header {
    margin-bottom: 20px;
    padding-top: 15px;
}

#signup .header h3 {
    color: #333333;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}

#signup .header p {
    color: #8f8f8f;
    font-size: 14px;
    font-weight: 300;
}

#signup .sep {
    height: 1px;
    background: #e8e8e8;
    max-width: 406px;
    margin: 0px -25px;
}

#signup .inputs {
    margin-top: 25px;
}

#signup .inputs label {
    color: #8f8f8f;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 7px;
    display: block;
}

input::-webkit-input-placeholder {
    color:    #b5b5b5;
}

input:-moz-placeholder {
    color:    #b5b5b5;
}

#signup .inputs input {
    background: #f5f5f5;
    font-size: 0.8rem;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    padding: 13px 10px;
    margin-bottom: 20px;
    box-shadow: inset 0px 2px 3px rgba( 0,0,0,0.1 );
    clear: both;
    width: 100%;
    outline: none;
}

#signup .inputs input:focus {
    background: #fff;
    /* box-shadow: 0px 0px 0px 3px #fff38e, inset 0px 2px 3px rgba( 0,0,0,0.2 ), 0px 5px 5px rgba( 0,0,0,0.15 ); */
    outline: none;   
}

#signup .inputs{
    text-align: center;
}

#signup .inputs > a{
    text-decoration: none;
    color: rgb(70, 69, 69);
}

#signup .inputs .checkboxy {
    display: block;
    position: static;
    height: 25px;
    margin-top: 10px;
    clear: both;
}

#signup .inputs input[type=checkbox] {
    float: left;
    margin-right: 10px;
    margin-top: 3px;
}

#signup .inputs label.terms {
    float: left;
    font-size: 14px;
    font-style: italic;
}

#signup .inputs #submit {
    width: 100%;
    cursor: pointer;
    margin-top: 20px;
    padding: 15px 0;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
        background: -moz-linear-gradient(
        top,
        #b9c5dd 0%,
        #a4b0cb);
    background: -webkit-gradient(
        linear, left top, left bottom, 
        from(#b9c5dd),
        to(#a4b0cb));
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #737b8d;
    -moz-box-shadow:
        0px 5px 5px rgba(000,000,000,0.1),
        inset 0px 1px 0px rgba(255,255,255,0.5);
    -webkit-box-shadow:
        0px 5px 5px rgba(000,000,000,0.1),
        inset 0px 1px 0px rgba(255,255,255,0.5);
    box-shadow:
        0px 5px 5px rgba(000,000,000,0.1),
        inset 0px 1px 0px rgba(255,255,255,0.5);
    text-shadow:
        0px 1px 3px rgba(000,000,000,0.3),
        0px 0px 0px rgba(255,255,255,0);
    display: table;
    position: static;
    clear: both;
}

#signup .inputs #submit:hover {
    background: -moz-linear-gradient(
        top,
        #a4b0cb 0%,
        #b9c5dd);
    background: -webkit-gradient(
        linear, left top, left bottom, 
        from(#a4b0cb),
        to(#b9c5dd));
}

.errors {
    margin-top: -10px;
    margin-bottom: 10px;
    color: rgb(255, 0, 0);
}